<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super detector de imagens</title>
    <script>
        function uploadImage(event, modelType) {
            event.preventDefault();
            var formData = new FormData();
            var fileInput = document.getElementById('file');
            formData.append('file', fileInput.files[0]);
            formData.append('model_type', modelType);

            fetch('/predict', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    document.getElementById('result').innerText = 'Erro: ' + data.error;
                } else {
                    document.getElementById('result').innerText = 'Modelo usado: ' + data.model_used + ', Predição: ' + data.prediction;
                }
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
</head>
<body>
    <h1>SUPER DETECTOR DE IMAGENS </h1>
    <form id="upload-form">
        <input type="file" id="file" name="file">
        <button onclick="uploadImage(event, 'cnn')">Predictar com CNN</button>
        <button onclick="uploadImage(event, 'linear')">Predictar com Linear</button>
    </form>
    <div id="result"></div>
</body>
</html>
